/* line 25, ../sass/style.scss */
.demo {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  left: 0px;
  top: 0px;
}

/* line 33, ../sass/style.scss */
.demo.move {
  animation: move 2S infinite;
  -moz-animation: move 2S infinite;
  -webkit-animation: move 2S infinite;
  -ms-animation: move 2S infinite;
  -o-animation: move 2S infinite;
}

@-webkit-keyframes move {
  /* line 38, ../sass/style.scss */
  0% {
    left: 0px;
    top: 0px;
  }

  /* line 42, ../sass/style.scss */
  25% {
    left: 300px;
    top: 0px;
  }

  /* line 46, ../sass/style.scss */
  50% {
    left: 300px;
    top: 100px;
  }

  /* line 50, ../sass/style.scss */
  75% {
    left: 0px;
    top: 100px;
  }

  /* line 54, ../sass/style.scss */
  100% {
    left: 0px;
    top: 0px;
  }
}

@-moz-keyframes move {
  /* line 38, ../sass/style.scss */
  0% {
    left: 0px;
    top: 0px;
  }

  /* line 42, ../sass/style.scss */
  25% {
    left: 300px;
    top: 0px;
  }

  /* line 46, ../sass/style.scss */
  50% {
    left: 300px;
    top: 100px;
  }

  /* line 50, ../sass/style.scss */
  75% {
    left: 0px;
    top: 100px;
  }

  /* line 54, ../sass/style.scss */
  100% {
    left: 0px;
    top: 0px;
  }
}

@-ms-keyframes move {
  /* line 38, ../sass/style.scss */
  0% {
    left: 0px;
    top: 0px;
  }

  /* line 42, ../sass/style.scss */
  25% {
    left: 300px;
    top: 0px;
  }

  /* line 46, ../sass/style.scss */
  50% {
    left: 300px;
    top: 100px;
  }

  /* line 50, ../sass/style.scss */
  75% {
    left: 0px;
    top: 100px;
  }

  /* line 54, ../sass/style.scss */
  100% {
    left: 0px;
    top: 0px;
  }
}

@-o-keyframes move {
  /* line 38, ../sass/style.scss */
  0% {
    left: 0px;
    top: 0px;
  }

  /* line 42, ../sass/style.scss */
  25% {
    left: 300px;
    top: 0px;
  }

  /* line 46, ../sass/style.scss */
  50% {
    left: 300px;
    top: 100px;
  }

  /* line 50, ../sass/style.scss */
  75% {
    left: 0px;
    top: 100px;
  }

  /* line 54, ../sass/style.scss */
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes move {
  /* line 38, ../sass/style.scss */
  0% {
    left: 0px;
    top: 0px;
  }

  /* line 42, ../sass/style.scss */
  25% {
    left: 300px;
    top: 0px;
  }

  /* line 46, ../sass/style.scss */
  50% {
    left: 300px;
    top: 100px;
  }

  /* line 50, ../sass/style.scss */
  75% {
    left: 0px;
    top: 100px;
  }

  /* line 54, ../sass/style.scss */
  100% {
    left: 0px;
    top: 0px;
  }
}
